header {
  color: $text_color;
  position: sticky;
  top: 0;
  z-index: 1000;

  .grid {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    align-items: center;

    .logo {
      display: contents;

      .logo_header {
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        border-right: 1px solid #03032C;
        padding-right: 10px;
      }

      .logo_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-left: 10px;
      }
    }

    .main_menu {
      ul {
        list-style: none;

        li {
          display: inline;
          padding-left: 30px;

          &::before {
            display: none;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $text_color;
      transition: all 0.3s ease-in-out;


      &:hover, &.active {
        font-weight: 700;
        color: #5D5FEF;
      }
    }

    img.main_menu_button {
      display: block;
      margin-left: auto;
    }
  }
}

.open-content {
  background: #eee;
  z-index: 1100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 0;
  overflow: hidden;
  transition: 1s ease max-height;

  ol {
    list-style: none;

    li {
      a {
        color: $text_color;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: #5D5FEF;
        }
      }
    }
  }
}
.open-content--show {
  max-width: 250px;
  width: 250px;
}