.prices {
  h2 {
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
  }

  .card {
    box-shadow: 5px 5px 20px rgba(30, 83, 210, 0.1);
    border-radius: 30px;
    padding: 50px 30px;

    &.c1 {
      background: linear-gradient(161.52deg, #F6F6FF 0%, #F8F8FF 0%, #EDEEFF 0.01%, #FAFAFF 100%);
    }

    &.c2 {
      background: linear-gradient(161.52deg, #FFFDF4 0%, #FFFEF9 100%);
    }

    &.c3 {
      background: linear-gradient(161.52deg, #EFFFF4 0%, #F8FFFA 100%);
    }

    h3 {
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
    }

    .price {
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    a {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
  }
}