.slider {
  .grid {
    background: linear-gradient(106.35deg, #E3FFEC 0%, #EFFFF3 100%);

    .image_block {
      position: relative;
      width: 100%;
      height: 600px;

      img {
        position: absolute;
        max-width: 600px;
        height: auto;
      }

      @for $i from 1 through 7 {
        .img#{$i} {
          z-index: 100 - $i * 10;
        }
      }

      .img7 {
        width: 460px;
        @include abs-position(21px, 0, auto, auto);
      }

      .img6 {
        width: 600px;
        @include abs-position(30px, 160px, auto, auto);
        animation: spin 10s infinite linear;
      }

      .img5 {
        width: 250px;
        @include abs-position(360px, 350px, auto, auto);
        animation: spin 10s infinite linear;
      }

      .img4 {
        width: 370px;
        @include abs-position(500px, 160px, auto, auto);
      }

      .img3 {
        width: 350px;
        @include abs-position(60px, 60px, auto, auto);
      }

      .img2 {
        width: 400px;
        @include abs-position(105px, 50px, auto, auto);
      }

      .img1 {
        width: 80px;
        @include abs-position(0, 250px, auto, auto);
        animation: spin 10s infinite linear;
      }
    }

    .figure1 {
      @include abs-position(-10px, -70px, auto, auto);
      animation: spin 10s infinite linear;
    }

    .figure2 {
      @include abs-position(550px, auto, auto, 20px);
      animation: spin 10s infinite linear;
    }

    .figure3 {
      @include abs-position(0, auto, auto, -80px);
      animation: spin 10s infinite linear;
    }

    .text_block {
      h2 {
        font-weight: 900;
        font-size: 50px;
        line-height: 73px;
        z-index: 150;
      }

    }
  }
}
